<div class="container-fluid" style="margin-top: 60px;">
  <div style="display: flex;">
    <div style="flex:1;">
      <h3><input type="text" class="form-control" [(ngModel)]="response.Header" style="width: 300px; display: inline; font-size: 20px; margin-right: 10px;">
        <span style="font-size: 15px;font-weight: 600;">{{model.Name}} - {{model.Verb}}</span></h3>
    </div>
    <div style="flex: 1;text-align: right; padding-top: 15px">
      <button class="btn btn-danger" (click)="lgModal.show()">Generate Code</button>
    </div>
  </div>
  <div class="toolbar-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      <path
        d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
      <circle cx="8" cy="4.5" r="1" />
    </svg>
  </div>
  <tabset>
    <tab heading="Request Design" [active]="true">
      <app-request-design #ReqDesign [model]="model"></app-request-design>
    </tab>
    <tab heading="Response Design">
      <app-response-design #ResDesign [model]="model" ></app-response-design>
    </tab>
    <tab heading="Preview" (selectTab)="preview()">
      <iframe id="previewFrame" frameborder="0" height="550" width="100%"></iframe>
    </tab>
  </tabset>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Generate Code</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-3">Project Name</div>
            <div class="col-sm-9">
              <input type="text" name="generate" class="form-control" [(ngModel)]="response.Project">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">Server</div>
            <div class="col-sm-9">
              <select class="form-control" name="Control" [(ngModel)]="response.Server">
                <ng-container *ngFor="let server of model.Server">
                  <option value={{server}}>{{server}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="generateCode()">Generate</button>
      </div>
    </div>
  </div>
</div>