<div class="container-fluid">
  <div style="display: flex;">
    <div style="flex:1;">
      <h3><input type="text" class="form-control" [(ngModel)]="response.Header" style="width: 300px; display: inline; font-size: 20px; margin-right: 10px;">
        <span style="font-size: 15px;font-weight: 600;">{{model.Name}} - {{model.Verb}}</span></h3>
    </div>
    <div style="flex: 1;text-align: right; padding-top: 15px">
      <button class="btn btn-danger" (click)="lgModal.show()">Generate Code</button>
    </div>
  </div>
  <tabset>
    <tab heading="Request Design" [active]="true">
      <app-request-design #ReqDesign [model]="model"></app-request-design>
    </tab>
    <tab heading="Response Design">
      <app-response-design #ResDesign [model]="model" ></app-response-design>
    </tab>
    <tab heading="Preview" (selectTab)="preview()">
      <iframe id="previewFrame" frameborder="0" height="550" width="100%"></iframe>
    </tab>
  </tabset>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Generate Code</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-3">Project Name</div>
            <div class="col-sm-9">
              <input type="text" name="generate" class="form-control" [(ngModel)]="response.Project">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">Server</div>
            <div class="col-sm-9">
              <select class="form-control" name="Control" [(ngModel)]="response.Server">
                <ng-container *ngFor="let server of model.Server">
                  <option value={{server}}>{{server}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="generateCode()">Generate</button>
      </div>
    </div>
  </div>
</div>