<!-- <div class="stepper">
    <div class="cp active">Create Project</div>
    <hr class="hr" [class.active]="currentRoute=='/openapi' || currentRoute=='builder'">
    <div class="ua" [class.active]="currentRoute=='/openapi' || currentRoute=='builder'">Upload Api</div>
    <hr class="hr" [class.active]="currentRoute=='builder'">
    <div class="dv" [class.active]="currentRoute=='builder'">Designer View</div>
    <hr class="hr">
    <div class="gt">Generate Template</div>
</div> -->
<router-outlet></router-outlet>