<!-- <div style="display: flex;">
    <div style="flex: 1;">
        <ace-editor #editor [mode]="'YAML'" style="position: absolute;
        height: 100%;
        width: 50%;"></ace-editor>
    </div>
    <div style="flex: 1; margin-left: 30px; margin-right: 10px;">
        <button (click)='getValue()'>get value</button>
        <div class="panel panel-primary" *ngFor="let item of list; let i = index">
            <div class="panel-heading">{{item.Verb}} - {{item.Operation}}
                <button type="button" class="btn btn-success" style="float: right; padding: 0px 5px;" (click)="renderBuilder(item)">Render</button>
            </div>
            <div class="panel-body" *ngIf="item.Param.length>0">
                <div class="panel panel-info" *ngFor="let param of item.Param">
                    <ng-container *ngIf="param.Type=='object'">
                        <div class="panel-heading">{{param.Name}} - {{param.Type}}</div>
                        <div class="panel-body">
                            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ props: param.properties }"></ng-container>
                            <ng-template #recursiveListTmpl let-props="props">
                                <div style="margin-left: 20px;" *ngFor="let prop of props">
                                    <div style="padding-top: 5px; padding-bottom: 5px; border-bottom: dashed 1px gray;">{{prop.Name}} - {{prop.Type}}</div>
                                    <div style="margin-left: 20px;" *ngIf="prop.properties.length > 0">
                                    <ng-container
                                        *ngTemplateOutlet="recursiveListTmpl; context:{ props: prop.properties }"
                                    ></ng-container>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="param.Type!='object'">
                        <div class="panel-heading">
                            {{param.Name}} - {{param.Type}}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="panel-body" *ngIf="item.Param.length==0">No Parameters</div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8"><br><br>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" [value]="filename" class="form-control" readonly>
                    <div class="input-group-btn">
                        <span class="fileUpload btn btn-success">
                            <span class="upl" id="upload">Upload</span>
                            <input type="file" class="upload up" id="up" (change)="readURL($event);" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="panel panel-primary" *ngFor="let tag of list.Tags">
            <div class="panel-heading">{{tag.Tag}} - {{tag.Description}}</div>
            <div class="panel-body">
                <div class="panel panel-info" *ngFor="let item of tag.Operations">
                    <div class="panel-heading">{{item.Verb}} - {{item.Name}}
                        <button type="button" class="btn btn-success" style="float: right; padding: 0px 5px;" (click)="renderBuilder(item)">Render</button>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
